body {
  font: 14px/1.5 Helvetica, sans-serif;
}

.headline {
  background-color: var(--clr-h1-and-bold);
  color: var(--clr-bg);
  font-style: italic;
  line-height: 1.5;
  padding: 0.15em 0.25em;
}

p {
  line-height: 1.5em;
}

section {
  border-width: 0 0 1px 0;
}

ul.content {
  padding-left: 0;
  margin: 0 0 3em 0;
}

ul.content li {
  list-style-type: none;
  margin-bottom: 0.7em;
}

ul.content li a {
  margin: 0 0.5em 0 0.25em;
}

span.category {
  padding: 0.1em 0.5em 0.1em 0.5em;
  background-color: #555555;
  color: #eeeeee;
  white-space: nowrap;
}

span.architecture {
  background-color: #FF073A;
}

span.careermanagement {
  background-color: #FFE500;
  color: #333333;
}

span.decisionmaking {
  background-color: #00FF26;
  color: #333333;
}

span.fundamentals {
  background-color: #00C2FF;
  color: #333333;
}

span.kpi {
  background-color: #1900FF;
}

span.organisation {
  background-color: #B200FF;
}

span.productdevelopment {
  background-color: #FF00D4;
}

span.remotework {
  background-color: #FF0080;
}

span.strategy {
  background-color: #FF194C;
}

span.technology {
  background-color: #FF99B2;
  color: #333333;
  
}  